.item{
    border-bottom: 2px solid lightgrey;
    display: flex;
    padding: 10px;
}
.item button{
    padding: 5px 40px;
    background-color: gold;
}
.item a{
    text-decoration: none;
}
.item .info{
    padding-left: 20px;
}